h3#forma Registracija į šiuos mokymus 

form(name='registracija_sheet' id='registracija_sheet')

 fieldset(id='kontaktinis')
  legend Kontaktinė informacija

  label(for='vardas') Vardas
  input(type='text' name='vardas' id='vardas' placeholder='Vardas' title='Įveskite kontaktinio asmens vardą (bus naudojama susisiekti su jumis)' required='')

  label(for='pavarde') Pavardė
  input(type='text' name='pavarde' id='pavarde' placeholder='Pavardė' title='Įveskite kontaktinio asmens pavardę (bus naudojama susisiekti su jumis)' required='')

  label(for='klientotelnr') Telefono numeris
  input(type='tel' name='klientotelnr' id='klientotelnr' placeholder='+370 0000 0000' title='Įveskite telefono nr. (bus naudojama susisiekti su jumis)' required='')
  span.tooltip Jūsų telefono nr. formatu +370 0000 0000

  label(for='elpastas') El.pašto adresas
  input(type='email' name='elpastas' id='elpastas' placeholder='El.pašto adresas' title='Įveskite el.pašto adresą (šiuo adresu siųsime informaciją)' required='')
  span.tooltip Jūsų el.pašto dėžutė formatu dezute@varduzona.lt

  input(type='hidden' name='mokymai' id='mokymai' value=title)
  input(type='hidden' name='kaina' id='kaina' value=kaina)
  input(type='hidden' name='mok_budas' id='mok_budas' value=mok_budas)

 input(type='submit' value='Užsakyti mokymus' id='submit_form')