<script>
    var form = document.getElementById('registracija_sheet')
    var uzsakovas = form.elements['uzsakovas']
    var apie_imone = document.getElementById('apie_imone')
    var registracijos_data = new Date().toJSON().slice(0,10)
    var formData = 'registracijos_data=' + registracijos_data //   formData = ''
    var url = 'https://script.google.com/a/wptheme4.me/macros/s/AKfycbw8-UJcpYUSrYk0E7LLEqvuuqVRDflkXGvFhYpvyH58X9LYYno/exec'

    var submitBtn = document.getElementById('submit_form')           
        submitBtn.addEventListener('click', function(e){
            e.preventDefault()
            if (validateForm()) sendForm(formData)
        })

    uzsakovas[1].addEventListener('change', function(){
        if (this.checked) {
          console.log('Imone')
          toggle(true)
          apie_imone.removeAttribute('class', 'notshow')
        }  
    })

    uzsakovas[2].addEventListener('change', function(){
      if (this.checked) {
          console.log('Asmuo')
          toggle(false)
          apie_imone.setAttribute('class', 'notshow')

        }
    })

    function toggle(tgl) {
        var val = tgl ? '' : '----'
        for (var i = 12; i < 14; i++ ) {
            form.elements[i].value = val
        }
    }

    function validateForm(){
      // Collect form data for XMLHttpRequest
      var check = true
      var el = form.getElementsByTagName('input')

      for (var i = 2; i < 9; i++) {

          if (el[i].value == '') {
                el[i].setAttribute('class', 'redline')
                check = false
                formData = ''
          } else {
                el[i].setAttribute('class', 'greenline')
                formData += el[i].name + '=' + encodeURIComponent(el[i].value) + '&'
          }
      }

      console.log(formData)
    //   console.log(encodeURIComponent(formData))
      return check
  }




  function sendForm(formData) {

    // disable btn that user do not submit multiple times
    submitBtn.disabled = true

    var xhr = new XMLHttpRequest()
    
    xhr.onloadstart = function(response) {
        console.log('onloadstart')
        // Chage btn text to inform user about form submit state
        submitBtn.value = 'Siunčiama'
    }
    xhr.onprogress = function(response) {
        console.log('onprogress')
        // Chage btn text to inform user about form submit state
        submitBtn.value = 'Siunčiama luktelkite'
    }
    xhr.onload = function (response) {
        console.log('onload')
        // Chage btn text to inform user about form submit state
        submitBtn.value = 'Jūsų užsakymas priimtas. Ačiū'
        submitBtn.style.background = 'green'
        // Reset data
        formData = ''
        // todo: Reset form
    }
    
    xhr.onerror = function (response) {
        // Failed XmlHttpRequest should be considered an undefined error.
        submitBtn.value = 'Klaida. Užsakymas nepriimtas'
    }

    xhr.open('POST', url)
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
    xhr.send(formData)
    // xhr.send(encodeURIComponent(formData))

  }
  </script>