<script>
    var form = document.getElementById('registracija_sheet')
    var formData = ''
    var url = 'https://script.google.com/a/wptheme4.me/macros/s/AKfycbw8-UJcpYUSrYk0E7LLEqvuuqVRDflkXGvFhYpvyH58X9LYYno/exec'

    var submitBtn = document.getElementById('submit_form')           
        submitBtn.addEventListener('click', function(e){
            e.preventDefault()
            if (validateForm()) sendForm(formData)
        })

    function validateForm(){
      // Collect form data for XMLHttpRequest
      var check = true
      var el = form.getElementsByTagName('input')

      formData += '&' + el['mokymai'].name + '=' + encodeURIComponent(el['mokymai'].value) +
                  '&' + el['kaina'].name + '=' + encodeURIComponent(el['kaina'].value) +
                  '&' + el['mok_budas'].name + '=' + encodeURIComponent(el['mok_budas'].value)

      for (var i = 0; i < 5; i++) {

          if (el[i].value == '') {
                el[i].setAttribute('class', 'redline')
                check = false
                formData = ''
          } else {
                el[i].setAttribute('class', 'greenline')
                formData += '&' + el[i].name + '=' + encodeURIComponent(el[i].value)
          }
      }
      return check
  }



  function sendForm(formData) {

    // disable btn that user do not submit multiple times
    submitBtn.disabled = true

    var xhr = new XMLHttpRequest()
    
    xhr.onloadstart = function(response) {
        // Chage btn text to inform user about form submit state
        submitBtn.value = 'Siunčiama'
    }
    xhr.onprogress = function(response) {
        // Chage btn text to inform user about form submit state
        submitBtn.value = 'Siunčiama luktelkite'
    }
    xhr.onload = function (response) {
        // Chage btn text to inform user about form submit state
        submitBtn.value = 'Jūsų užsakymas priimtas. Ačiū'
        submitBtn.style.background = 'green'
        // Reset data
        formData = ''
    }
    
    xhr.onerror = function (response) {
        // Failed XmlHttpRequest should be considered an undefined error.
        submitBtn.value = 'Klaida. Užsakymas nepriimtas'
    }

    xhr.open('POST', url)
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
    xhr.send(formData)

  }
  </script>